html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 80px;
}

.header img {
  object-fit: contain;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

li {
  list-style-type: none;
}

.main {
  flex: 1;
  height: 100%;
  background-color: blue;
}

.footer {
  height: 80px;
  background-color: gray;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
