@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --primary-color: rgb(26, 26, 26);
  --seconday-color: rgb(255, 156, 172);
  --font-default: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-default);
  color: var(--primary-color);
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* navigation bar */

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.nav-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-btn {
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 4px 8px;
  font-size: 14px;
  background-color: var(--seconday-color);
  transition: 0.2s ease-in-out;
}

.nav-btn:hover {
  border-radius: 8px;
}

header {
  height: 100%;
  display: flex;
  align-items: center;
}

header img {
  object-fit: contain;
  height: 100%;
}

header h1 {
  font-weight: 400;
  font-size: 18px;
}

/* main */

main {
  flex: 1;
  background-color: var(--seconday-color);
}

/* footer */

footer {
  height: 80px;
  background-color: var(--primary-color);
}
